{% extends "agency/admin_template.html" %}
{% load widget_tweaks %}



{% block content %}
<p class="h1 fw-bold mb-5">Charter Management</p>
<div class="card p-5">
    <ul class="nav nav-tabs mb-3">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'agency:crew_add' %}">Create Charter</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Manage Charters</a>
        </li>
    </ul>
    <p class="h3">Ship & Route Details</p>
    <div class="row">
        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.ship.label}}
            </label>
            {{form.ship|attr:"class:form-select"}}
        </div>

        <div class="col col-12 col-md-6 mb-3">
            <label class="form-label">
                Origin
            </label>
            {{form.from_place|attr:"class:form-select"}}
        </div>
        <div class="col col-12 col-md-6 mb-3">
            <label class="form-label">
                Destination
            </label>
            {{form.to_place|attr:"class:form-select"}}
        </div>

        <div class="col col-12  mb-3">
            <label class="form-label">
                {{form.from_datetime.label}}
            </label>
            {{form.from_datetime|attr:"class:form-control"}}
        </div>

        <div class="col col-12  mb-3">
            <label class="form-label">
                {{form.description.label}}
            </label>
            {{form.description|attr:"class:form-control"}}
        </div>

    </div>


    <hr class="my-3">
    <p class="h3">Designations</p>
    <div class="row">
        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.captain.label}}
            </label>
            {{form.captain|attr:"class:form-select"}}
        </div>

        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.chief_mate.label}}
            </label>
            {{form.chief_mate|attr:"class:form-select"}}
        </div>

        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.second_mate.label}}
            </label>
            {{form.second_mate|attr:"class:form-select"}}
        </div>
        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.third_mate.label}}
            </label>
            {{form.third_mate|attr:"class:form-select"}}
        </div>
        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.deck_cadet.label}}
            </label>
            {{form.deck_cadet|attr:"class:form-select"}}
        </div>
        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.chief_engineer.label}}
            </label>
            {{form.chief_engineer|attr:"class:form-select"}}
        </div>
        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.second_engineer.label}}
            </label>
            {{form.second_engineer|attr:"class:form-select"}}
        </div>
        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.third_engineer.label}}
            </label>
            {{form.third_engineer|attr:"class:form-select"}}
        </div>
        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.fourth_engineer.label}}
            </label>
            {{form.fourth_engineer|attr:"class:form-select"}}
        </div>
        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.engine_cadet.label}}
            </label>
            {{form.engine_cadet|attr:"class:form-select"}}
        </div>
        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.electrician.label}}
            </label>
            {{form.electrician|attr:"class:form-select"}}
        </div>
        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.boatswain.label}}
            </label>
            {{form.boatswain|attr:"class:form-select"}}
        </div>

        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.pump_man.label}}
            </label>
            {{form.pump_man|attr:"class:form-select"}}
        </div>

        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.able_bodied_seaman.label}}
            </label>
            {{form.able_bodied_seaman|attr:"class:form-select"}}
        </div>

        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.ordinary_seaman.label}}
            </label>
            {{form.ordinary_seaman|attr:"class:form-select"}}
        </div>

        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.fitter.label}}
            </label>
            {{form.fitter|attr:"class:form-select"}}
        </div>

        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.oiler.label}}
            </label>
            {{form.oiler|attr:"class:form-select"}}
        </div>

        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.wiper.label}}
            </label>
            {{form.wiper|attr:"class:form-select"}}
        </div>

        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.chief_cook.label}}
            </label>
            {{form.chief_cook|attr:"class:form-select"}}
        </div>

        <div class="col col-12 mb-3">
            <label class="form-label">
                {{form.steward.label}}
            </label>
            {{form.steward|attr:"class:form-select"}}
        </div>

        <div class="col col-12 mb-3">
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-success">Create Charter</button>
            </div>
        </div>
   
    
       
    </div>
</div>
{% endblock %}
