<h2 style="text-align: center;">
    CONTRACT OF EMPLOYMENT
</h2>

<br>
<br>





<p style="font-weight: 900;">KNOW ALL MEN BY THESE PRESENTS:</p>
<p>This Contract is entered is made, executed, and entered by:</p>
<p><span style="font-weight: 900;">SEAFARER INTERNATIONAL INC.</span>, with its main headquarters addressed at 
    McArthur Highway, Angeles City, Pampanga,
Philippines, represented by its HR Director, Juan Dela Cruz, hereinafter referred to as
the “AGENCY”. </p>
<p>And</p>
<p>
    <span style="font-weight: 900;">{{applicant.first_name}} {{applicant.middle_name}} {{applicant.last_name}}</span>,
with residential address at {{applicant.address}}, hereinafter referred to as "EMPLOYEE".
</p>

<p style="text-align: center;font-weight: 900;">WITNESSETH:</p>

<p>
    <span style="font-weight: 900;">WHEREAS</span>, the <span style="font-weight: 900;">AGENCY</span> duly recognizes and accepts 
    the application submitted by the applicant, hereby being acknowledged as a legitimate <span style="font-weight: 900;">EMPLOYEE</span>.
</p>

<p>
    <span style="font-weight: 900;">WHEREAS</span>, the applicant duly recognizes and accepts 
    the designations set by the <span style="font-weight: 900;">AGENCY</span> to become an <span style="font-weight: 900;">EMPLOYEE</span> of the corporation.
</p>

<p><span style="font-weight: 900;">NOW THEREFORE</span>, the following are the <span style="font-weight: 900;">agreed TERMS AND CONDITIONS</span>:</p>

<p>
    The terms of this Agreement shall last from the employment date of {{applicant.employment_date}}, up until the termination
    date of the contract which is on {{applicant.termination_date}} - unless the agency deems it necessary to terminate the contract much earlier.
</p>


<h2>
    SUMMARY OF TERMS
</h2>
<ol>
    <li>
        The rank to be designated to the employee is {{applicant.position}}.
    </li>
    <li>
        The duties, responsibilities, and qualifications of the said position shall always be observed and can be
        checked <a href='https://www.wilhelmsen.com/ship-management/crew-management/recruitment/vocexpedition-generalinfo/'>at this online document</a>.
    </li>
    <li>
        You will be deployed at the main headquarters of the corporation, located at McArthur Highway, Angeles City, Pampanga,
        Philippines.
    </li>
    <li>
        The salary for the designated position is $USD {{salary}}, which will be paid for every charter.
    </li>
    <li>
        You will be notified via email whenever your salary has reflected on your bank account, and is usually given at the end of every charter.
    </li>
    <li>
        Your employment with the corporation will also come with the necessary health and social security benefits mandated by the government.
    </li>
</ol>

<br>
<br>
<br>
<p>
    This <span style="font-weight: 900;">CONTRACT OF EMPLOYMENT</span> shall be valid and binding between the
    parties, herein affixed their signatures.
</p>


